<div class="wrapper">
  <div class="header">
    <h5>Precio</h5>
  </div>
  <div class="price-input">
    <div class="field">
      <span>Min</span>
      <input
        type="number"
        class="input-min"
        value="0"
        #inputMin
        (input)="onPriceChange(inputMin.value, inputMax.value, $event)"
      />
    </div>
    <div class="separator">-</div>
    <div class="field">
      <span>Max</span>
      <input
        type="number"
        class="input-max"
        [value]="maxPriceInput"
        #inputMax
        (input)="onPriceChange(inputMin.value, inputMax.value, $event)"
      />
    </div>
  </div>
  <div class="slider">
    <div class="progress" #progress></div>
  </div>
  <div class="range-input">
    <input
      type="range"
      class="range-min"
      min="0"
      [max]="maxPriceInput"
      value="0"
      #rangeMin
      (input)="onRangeChange(rangeMin.value, rangeMax.value, $event)"
    />
    <input
      type="range"
      class="range-max"
      min="0"
      [max]="maxPriceInput"
      [value]="maxPriceInput"
      #rangeMax
      (input)="onRangeChange(rangeMin.value, rangeMax.value, $event)"
    />
  </div>
  <div class="button-input">
    <button (click)="sendPriceRange()" class="button-submit">Ir</button>
  </div>
</div>
