<div class="container mx-auto p-6">
    <h1 class="text-2xl font-semibold">Política de Privacidad</h1>
    <p><strong>Última actualización:</strong> 24 de enero de 2025</p>
  
    <p>En <strong>Titu Online</strong>, nos tomamos muy en serio la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, usamos y protegemos la información personal que nos proporcionas al utilizar nuestro sitio web y servicios. Al utilizar nuestro sitio, aceptas las prácticas descritas en esta política.</p>
  
    <h2><strong>1. Información que recopilamos</strong></h2>
    <p>Recopilamos diferentes tipos de información para proporcionarte un servicio más personalizado y eficiente. La información que recopilamos incluye:</p>
    <ul>
      <li><strong>Información personal:</strong> como nombre, dirección de correo electrónico, dirección de envío, número de teléfono, etc.</li>
      <li><strong>Información de pago:</strong> como datos de tarjetas de crédito o débito, dirección de facturación.</li>
    </ul>
  
    <h2><strong>2. Cómo usamos tu información</strong></h2>
    <p>La información que recopilamos se utiliza para:</p>
    <ul>
      <li>Procesar y gestionar tus pedidos.</li>
      <li>Personalizar la experiencia del usuario y mejorar nuestros servicios.</li>
      <li>Enviarte actualizaciones sobre tu pedido o comunicaciones de marketing, si has dado tu consentimiento.</li>
      <li>Realizar análisis para mejorar la calidad de nuestro sitio web y servicios.</li>
    </ul>
  
    <h2><strong> 3. Protección de tu información</strong></h2>
    <p>Nos comprometemos a proteger la seguridad de tus datos personales. Implementamos medidas de seguridad apropiadas para proteger tu información de accesos no autorizados, alteraciones, divulgación o destrucción.</p>
    
    <p>Sin embargo, ten en cuenta que ningún método de transmisión por Internet o almacenamiento electrónico es 100% seguro. Aunque nos esforzamos por utilizar métodos comercialmente aceptables para proteger tu información personal, no podemos garantizar su seguridad absoluta.</p>
  
    <h2><strong>4. Compartir tu información</strong></h2>
    <p>En <strong>Titu Online</strong>, no vendemos, alquilamos ni compartimos tu información personal con terceros, excepto en los siguientes casos:</p>
    <ul>
      <li><strong>Requerimiento legal:</strong> podemos compartir tu información cuando sea requerido por la ley o en respuesta a un proceso legal, como una orden judicial.</li>
    </ul>
  
    <h2><strong>5. Tus derechos</strong></h2>
    <p>Tienes derecho a acceder, corregir o eliminar la información personal que hemos recopilado sobre ti. También puedes optar por no recibir comunicaciones de marketing en cualquier momento. Para ejercer estos derechos, puedes ponerte en contacto con nosotros a través de la dirección de correo electrónico proporcionada en la sección de contacto.</p>
  
    <h2><strong>6. Cambios en la Política de Privacidad</strong></h2>
    <p>Podemos actualizar esta Política de Privacidad ocasionalmente para reflejar cambios en nuestras prácticas o por otros motivos operativos, legales o regulatorios. Te notificaremos sobre cualquier cambio importante publicando la nueva política en nuestro sitio web con la fecha de la última actualización.</p>
  
    <h2><strong>7. Contacto</strong></h2>
    <p>Si tienes alguna pregunta sobre nuestra Política de Privacidad, por favor contáctanos en:</p>
    <ul>
      <li>Correo electrónico: titucorporation3&#64;gmail.com</li>
      <li>Teléfono: (+593) 987384809</li>
    </ul>
  </div>
  