<!-- operator/register.component.html -->
<body class="h-screen flex items-center justify-center bg-gray-300">
    <!-- Contenedor del modal -->
    <div *ngIf="isOpen" class="modal">
        <div class="modal-content">
            <!-- Botón para cerrar el modal -->
            <span (click)="closeModal()" class="close">&times;</span>

            <div class="modal-container flex">
                <!-- Sección azul (bienvenida) -->
                <div class="welcome-section">
                    <h1>Bienvenido <br> a Titu</h1>
                    <img src="/assets/images/ImagenInicio.png" alt="Titu">
                </div>
                <!-- Sección de registro -->
                <div class="register-section">
                    <app-register-form-operator></app-register-form-operator> 
                </div>
            </div>
        </div>
    </div>
</body>
