<div class="register-section"> 
  <h2>Regístrate</h2>
  <form id="register-form" (submit)="submitForm()">
    <!-- Campo Nombre y Apellido -->
    <div class="form-group">
      <label for="name">Nombre y Apellido*</label>
      <input type="text" placeholder="Nombre y Apellido*" name="name" id="name" [(ngModel)]="form.name"
        (focus)="clearError('name')" (blur)="validateName()" required>
      <span id="name-error" class="error-message" style="display:none;"></span>
    </div>

    <!-- Campo Email -->
    <div class="form-group">
      <label for="email">Email*</label>
      <input type="email" placeholder="Email*" name="email" id="email" [(ngModel)]="form.email"
        (focus)="clearError('email')" (blur)="validateEmail()" required>
      <span id="email-error" class="error-message" style="display:none;"></span>
    </div>

    <!-- Campo Teléfono -->
    <div class="form-group">
      <label for="phone">Número de teléfono</label>
      <input type="tel" placeholder="Número de teléfono" name="phone" id="phone" [(ngModel)]="form.phone"
        (focus)="clearError('phone')" (blur)="validatePhone()" required="">
      <span id="phone-error" class="error-message" style="display:none;"></span>
    </div>

    <!-- Campo Contraseña -->
    <div class="form-group">
      <label for="password">Contraseña*</label>
      <div class="password-input">
        <input [type]="passwordVisible ? 'text' : 'password'" placeholder="Contraseña*" name="password" id="password" [(ngModel)]="form.password" (focus)="clearError('password')" (blur)="validatePassword()" required>
        <span (click)="togglePasswordVisibility('password')" class="toggle-password">{{ passwordVisible ? '🙈' : '👁️' }}</span>
      </div>
      <span id="password-error" class="error-message" style="display:none;"></span>
    </div>

    <!-- Campo Confirmar Contraseña -->
    <div class="form-group">
      <label for="confirm-password">Confirme su Contraseña*</label>
      <div class="password-input">
        <input [type]="confirmPasswordVisible ? 'text' : 'password'" placeholder="Confirme su Contraseña*" name="confirm-password" id="confirm-password" [(ngModel)]="form.confirmPassword" (focus)="clearError('confirmPassword')" (blur)="validateConfirmPassword()" required>
        <span (click)="togglePasswordVisibility('confirm-password')" class="toggle-password">{{ confirmPasswordVisible ? '🙈' : '👁️' }}</span>
      </div>
      <span id="confirmPassword-error" class="error-message" style="display:none;"></span>
    </div>

    <!-- Botón para enviar el formulario -->
    <button type="submit" class="btn-primary" >
      Regístrate
    </button>

    <!-- Modal de CAPTCHA -->
    <app-captcha-modal 
      *ngIf="showModalSecurity"
      (captchaVerifiedEvent)="onCaptchaVerified($event)"
      (closeModal)="showModalSecurity = false">
    </app-captcha-modal>
  </form>

  <p class="login-link">
    ¿Ya tienes una cuenta? <a [routerLink]="['/login']">Iniciar sesión</a>
  </p>
  <!-- Modal de éxito del registro -->
  <app-register-success *ngIf="showSuccessModal" (close)="closeSuccessModal()"></app-register-success>
</div>