<div class="flex bg-gray-100 min-h-screen">

  <!-- sidebar -->
  <div class="border-r border-neutral-400">
    <app-filter-table />
  </div>

  <!-- Main content -->
  <div class="flex flex-col flex-1 max-w-screen-xl 2xl:mx-auto 2xl:px-9 mx-9">
    <div id="search-list-component-start"></div>
    <h2 class="text-3xl font-semibold text-black my-4">Resultados</h2>
    <p class="mb-4">
      Consulte la página de cada producto para conocer otras opciones de compra.
    </p>
    <app-search-list />
  </div>
  
</div>