<!-- Botón principal -->
<div class="h-screen flex items-center justify-center bg-gray-300">

<!-- Contenedor del modal -->
<div class="modal">
<div class="modal-content">
    <!-- Botón para cerrar el modal -->
     <span (click)="closeModal()" class="close">&times;</span>

    <div class="modal-container flex">
        <!-- Sección azul (bienvenida) -->
        <div class="welcome-section">
            <h1>¡Nos alegra verte de nuevo!</h1>
            <img src="/assets/images/ImagenInicio.png" alt="Titu">
        </div>

        <!-- Sección de login-->
        <div class="login-section">
           <!-- Usando el componente login-form -->
               <app-login-form></app-login-form>

        </div>
    </div>
</div>
</div>
</div>

