<section class="auth-container">
    <div class="auth-box">
      <div class="auth-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon-lock"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
          />
        </svg>
      </div>
      <h1 class="auth-title">Autenticacion de 2 factores</h1>
      <p class="auth-description">
        Revisa tus mensajes de texto. Ingresa el código que enviamos al **147.
      </p>
      <form class="auth-form">
        <div class="code-inputs">
          <input type="text" maxlength="1" class="code-input" />
          <input type="text" maxlength="1" class="code-input" />
          <input type="text" maxlength="1" class="code-input" />
          <span class="code-divider">-</span>
          <input type="text" maxlength="1" class="code-input" />
          <input type="text" maxlength="1" class="code-input" />
          <input type="text" maxlength="1" class="code-input" />
        </div>
        <button type="submit" class="auth-button">Verificar codigo</button>
      </form>
      <!--<p class="auth-footer">
        Haven't received it? 
        <a href="javascript:void(0)" class="auth-link">Resend a new one</a>
      </p>-->
    </div>
  </section>
  